/* Variables */

:root {
  --black: #0b0d17;
  --light-purple: #d0d6f9;
  --white: #ffffff;

  --base-font-size: 62.5%; /* Equals 10px by default */
  --body: 1.6rem;
  --h1: 15rem;
  --h2: 10rem;
  --h3: 5.6rem;
  --h4: 3.2rem;
  --h5: 2.8rem;
  --small: 1.4rem;
}

/* Global CSS */

html {
  box-sizing: border-box;
  font-size: var(--base-font-size);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: var(--body);
  background-color: var(--black);
  color: var(--white);
  margin: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
.subheading-1 {
  font-family: 'Bellefair', serif;
  margin-top: 0;
}

h5,
.h5,
.subheading-2 {
  font-family: 'Barlow Condensed', sans-serif;
  margin-top: 0;
}

h1,
.h1 {
  font-size: var(--h1);
}

h2,
.h2 {
  font-size: var(--h2);
}

h3,
.h3 {
  font-size: var(--h3);
}

h4,
.h4 {
  font-size: var(--h4);
}

h5,
.h5 {
  font-size: var(--h5);
  letter-spacing: 4.75px;
}

.subheading-1 {
  font-size: var(--h5);
}

.subheading-2 {
  font-size: var(--small);
  letter-spacing: 2.35px;
}

p {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-image: url('/assets/home/background-home-desktop.jpg');
  min-height: 100vh;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  font-size: 1.6rem;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 2.7px;
  counter-reset: nav;
  text-transform: uppercase;
  padding: 0 10rem;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.05);
}

.nav__ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav__item:not(:last-child) {
  margin-right: 4.8rem;
}

.nav__link {
  display: inline-block;
  color: var(--white);
  text-decoration: none;
  padding: 3rem 0;
}

.nav__link:hover,
.nav__link:focus {
  border-bottom: 3px solid #979797;
}

.nav__link--active {
  border-bottom: 3px solid var(--white);
}

.nav__link::before {
  content: '0' counter(nav);
  margin-right: 1.1rem;
  font-weight: bold;
}

.nav__item:not(:first-child) .nav__link::before {
  counter-increment: nav;
}
