---
layout: layouts/base.liquid
title: Home
eleventyNavigation:
  key: Home
  order: 1
---

<div class="home">
  <div class="home__text">
    <h1 class="home__heading"><span class="h5">So, you want to travel to</span> Space</h1>
    <p>Let's face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the edge of it. Well sit back, and relax because we’ll give you a truly out of this world experience!</p>
  </div>
  <button class="home__circle-button">Explore</button>
</div>